<form [formGroup]="productCategoryForm">
  <div>
    <label>Nombre categoria: </label>
    <input formControlName="name">
  </div>

  <div>
    <label>Description: </label>
    <textarea formControlName="description"></textarea>
  </div>

  <div>
    <label>Codigo: </label>
    <input type="number" formControlName="code">
  </div>

  <div>
    <label>sku: </label>
    <input formControlName="sku">
  </div>

  <button type="submit" (click)="submitForm()" [disabled]="!productCategoryForm.valid">Subir un producto</button>

</form>
