<ng-template [ngIf]="productsOnShoppingcart?.length">

  <div *ngFor="let product of productsOnShoppingcart">
    <div>
      {{ product?.productName }}
    </div>
    <input type="number" [value]="product?.qty">
    <span>{{ (product?.price * product?.qty) | number: '1.2-2' }}</span>
  </div>
  <span>{{ totalAmount | number: '1.2-2' }}</span>

</ng-template>
<div *ngIf="!customerAddresses?.length; else customerAddressesTpl">
  <app-form-user-address (onSubmit)="saveAddress($event)"></app-form-user-address>
</div>
<ng-template #customerAddressesTpl>
  <div *ngFor="let address of customerAddresses">
    <input type="radio" [value]="address?.id" (change)="setOrderAddress(address)">
    <label>{{ address?.name }}</label>
  </div>
</ng-template>
<button [disabled]="!orderAddress" (click)="nextOrderStep()">Siguiente</button>
