<ng-template [ngIf]="productsOnShoppingcart?.length">

  <div *ngFor="let product of productsOnShoppingcart">
    <div>
      {{ product?.productName }}
    </div>
    <input type="number" [value]="product?.qty">
    <span>{{ (product?.price * product?.qty) | number: '1.2-2' }}</span>
  </div>
  <span>{{ totalAmount | number: '1.2-2' }}</span>

</ng-template>
<ng-template [ngIf]="!customerAddresses?.length">
  <app-form-user-address (onSubmit)="saveAddress($Event)"></app-form-user-address>
</ng-template>
