
  <form [formGroup]="formCreditCard">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="creditCardUserName">
    </div>
    <div>
      <label>Número de tarjeta</label>
      <input type="text" formControlName="creditCardNumber" maxlength="19" (input)="updateMaskCreditCard($event)">
    </div>
    <div>
      <label>Fecha de caducidad</label>
      <div style="display: inline;">
        Mes
        <select (change)="selectMonth($event?.targer?.value)">
          <option *ngFor="let month of months" [ngValue]="month">{{ month + 1 }}</option>
        </select>
      </div>
      <div style="display: inline;">
        Año
        <select (change)="selectYear($event?.targer?.value)">
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>
    <div>
      <label>Código de seguridad</label>
      <input type="text" formControlName="creditCardSecurityCode">
    </div>
    <div>
      <button [disabled]="!formCreditCard?.valid">Pagar</button>
    </div>
  </form>
